/* Bright blue: #51e2f5

Blue Green: #9df9ef

Dusty White: #edf7f6

Pink Sand: #ffa8B6

Dark Sand: #a28089 */


.App {
  text-align: center;
}

body {
  background-color: #edf7f6;
  background-image: url('https://dx6iy6yk2x0g.cloudfront.net/images/0c6/c4b/0c6c4b57a9e105389df77fee735648af0f99107b-640x360.jpg?compressionQuality=80&id=51c386f06747df592c000006&op=cropThumbnail&version=1');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  margin-top: 5%;
}

h4 {
  margin-bottom: 5%;
}

.elementsBackground {
  background-color: #edf7f6;
  padding: 3%;
  color: #a28089;
  font-weight: bold;
}

.loginColors {
  /* display: flex;
  flex-direction: column; */
  /* background-color: white; */
  /* padding: 20%; */
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  font-size: 1rem;
  /* width: 10%, 5%, 10%, 5%; */
  /* border: 2px solid black; */
}

/* nav css*/
h1{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #282c34;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  padding: 3rem;
  background-color: #a28089;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  
}
.nav-links a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 50px;
  color: #282c34;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.addItemButton {
  background-color: white;
  padding: .5%;
  color: #a28089;
  border: 1px solid #a28089;
}
/* signup forms css */
form {

   padding: 10%; 

}
label {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 2%; */
  font-size: 1.3rem;
  font-weight: bold;
}
h2{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  /* border: 2px solid black; */
  /* width: 300%; */
  /* border: 2px solid white; */
  /* margin-right: -100%; */
  

}
input {
  /* width: 100%; */
  width: 400px;
  margin: 5px;
  display: block;
  border: 2px solid;
  color: #282c34;
  padding: 10px;
}
button{
  width: 150px;
  display: inline-block;
  padding:10px;
}

/* .addItemsHeader {
  width: 20%;
  border: 2px solid black;
} */

/* card */

.listName {
  font-size: 2rem;
  background-color: #51e2f5;
}

.listOthers {
  background-color: #9df9ef;
  padding: 5%;
}

/* footer */

.footer {
    background-color:#a28089;
    padding: 5%;
    margin-top: 3%;
  }
  